<section class="admin-content">
  <div class="bg-dark">

    <div class="container  m-b-30">

      <div class="row">

        <div class="col-12 text-white p-t-40 p-b-90">
          <h4 class="">Manage Home Banner</h4>
          <p class="opacity-75 "></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container pull-up">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">

            <div class="media">

              <div class="media-body m-auto">

                <h5 class="m-0"> Manage Home Banner </h5>

                <div class="opacity-75 text-muted"></div>

              </div>

            </div>



            <div class="card-controls">

            </div>

          </div>
          <div class="card-body ">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <form [formGroup]="updateHomeGridForm" #f="ngForm" autocomplete="off"
                  (ngSubmit)="f.valid ? updateHomeBanner(f): ''">
                  <div class="form-row m-b-20">
                    <div class="form-group col-md-6">
                      <label class="example-margin d-block">Choose Option:</label>
                      <mat-radio-group formControlName="option" name="option">
                        <mat-radio-button class="example-margin p-1" [checked]="updateHomeGridForm.value.option === 1"
                          [value]="1">Full Width</mat-radio-button>
                        <mat-radio-button class="example-margin p-1 ml-3l"
                          [checked]="updateHomeGridForm.value.option === 0" [value]="0"> Feature Image
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="form-row m-b-20" *ngIf="updateHomeGridForm.value.option">
                      <div class="form-group">
                          <label style="display: block;">Product Images</label>
                          <label class="avatar-input" *ngFor="let pic of updateHomeGridForm.value.background_image; let i=index">
                              <i class="fa fa-times delete-icon" aria-hidden="true" (click)="removeImage(i)"></i>
                              <span class="avatar avatar-xxl">
                                  <img [src]="productImageBaseUrl + pic" alt="..." class="avatar-img">
                              </span>
                          

                          </label>
                          <div class="input-group mb-3">

                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupFileAddon01">Max 5Mb</span>
                              </div>
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="uploadBackgroundFile($event)" multiple>
                                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-row m-b-20" *ngIf="updateHomeGridForm.value.option">
                    <div class="form-group col-md-12">
                      <label style="display: block;">Transition(second)</label>
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': updateHomeGridForm.controls['transition'].status == 'INVALID' && updateHomeGridForm.controls['transition'].touched}"
                        id="phone" formControlName="transition" placeholder="Enter Transition">
                    </div>
                  </div>
                  <div class="form-row m-b-20" *ngIf="updateHomeGridForm.value.option">
                    <div class="form-group col-md-12">
                      <label style="display: block;">Background Link</label>
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': updateHomeGridForm.controls['background_link'].status == 'INVALID' && updateHomeGridForm.controls['background_link'].touched}"
                        id="phone" formControlName="background_link" placeholder="Enter Link">
                    </div>
                  </div>
                  
                  <div class="form-row m-b-20" *ngIf="!updateHomeGridForm.value.option">
                    <div class="form-group col-md-12">
                      <label style="display: block;">Image</label>
                      <label class="avatar-input">
                        <span class="avatar avatar-xl">
                          <img
                            [src]="updateHomeGridForm.value.image? homeGridIconBaseUrl+updateHomeGridForm.value.image:'assets/img/badges/default.jpg'"
                            alt="..." class="avatar-img">
                          <span class="avatar-input-icon">
                            <i class=" mdi mdi-progress-upload mdi-24px"></i>
                          </span>
                        </span>
                        <input type="file" class="avatar-file-picker" (change)="readFile($event)">

                      </label>
                    </div>
                  </div>

                  <div class="form-row m-b-20" *ngIf="!updateHomeGridForm.value.option">
                    <div class="form-group col-md-12">
                      <label for="mobile">Header</label>
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': updateHomeGridForm.controls['header'].status == 'INVALID' && updateHomeGridForm.controls['header'].touched}"
                        id="phone" formControlName="header" placeholder="Enter Header">
                    </div>


                  </div>
                  <div class="form-row m-b-20" *ngIf="!updateHomeGridForm.value.option">
                    <div class="form-group col-md-12">
                      <label for="mobile">Description</label>
                      <textarea class="form-control"
                        [ngClass]="{'is-invalid': updateHomeGridForm.controls['description'].status == 'INVALID' && updateHomeGridForm.controls['description'].touched}"
                        id="phone" formControlName="description" placeholder="Enter Description">

                                        </textarea>
                    </div>


                  </div>

                  <div class="form-row m-b-20" *ngIf="!updateHomeGridForm.value.option">
                    <div class="form-group col-md-12">
                      <label for="mobile">Play Store URL</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': updateHomeGridForm.controls['playStore'].status == 'INVALID' && updateHomeGridForm.controls['playStore'].touched}"
                        id="phone" formControlName="playStore" placeholder="Enter Play Store Url" />
                    </div>


                  </div>

                  <div class="form-row m-b-20" *ngIf="!updateHomeGridForm.value.option">
                    <div class="form-group col-md-12">
                      <label for="mobile">App Store URL</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': updateHomeGridForm.controls['appStore'].status == 'INVALID' && updateHomeGridForm.controls['appStore'].touched}"
                        id="phone" formControlName="appStore" placeholder="Enter App Store Url" />
                    </div>


                  </div>

                  <div class="text-center">
                    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Save</button>

                  </div>


                </form>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
