<section class="admin-content">

    <div class="bg-dark m-b-30" *ngIf="accountDetails">

        <div class="container">

            <div class="row p-b-60 p-t-60">



                <div class="col-md-6 text-white p-b-30">

                    <div class="media">



                        <h5 class="mt-0">Change Password</h5>



                        <div class="media-body m-auto">





                        </div>

                    </div>
                </div>
                <div class="col-md-6 text-white my-auto text-md-right p-b-30">
                    <div class="">

                        <a [routerLink]="['/bm/view-badges' ]" routerLinkActive="router-link-active"
                            class="btn ml-2 mr-2 btn-primary"><i class="mdi mdi-account-arrow-left"></i> Back

                        </a>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="container pull-up">

        <div class="row">

            <div class="col-lg-8 offset-lg-2">

                <!--message-->


                <!--message-->





                <!-- Single post-->

                <div class="card m-b-30">



                    <div class="col-lg-12">

                        <div class="card-body ">

                            <form [formGroup]="updateAccountForm"
                        #f="ngForm"
                        autocomplete="off"
                        (ngSubmit)="f.valid ? updatePassword(f): ''">

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" formControlName="username" [attr.disabled]="true" 
                                        [ngClass]="{'is-invalid': updateAccountForm.controls['username'].status == 'INVALID' && updateAccountForm.controls['username'].touched}"
                                        class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" formControlName="password" 
                                        [ngClass]="{'is-invalid': updateAccountForm.controls['password'].status == 'INVALID' && updateAccountForm.controls['password'].touched}"
                                        class="form-control" placeholder="Current Password">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" formControlName="newPassword" 
                                        [ngClass]="{'is-invalid': updateAccountForm.controls['newPassword'].status == 'INVALID' && updateAccountForm.controls['newPassword'].touched}"
                                        class="form-control" placeholder="New Password">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="text" formControlName="confirmPassword" 
                                        [ngClass]="{'is-invalid': updateAccountForm.controls['confirmPassword'].status == 'INVALID' && updateAccountForm.controls['confirmPassword'].touched}"
                                        class="form-control" placeholder="Confirm Password">
                                    </div>
                                </div>
                           
                            </div>
                            

                            <button type="submit" [disabled]="f.invalid || updateAccountForm.value.newPassword != updateAccountForm.value.confirmPassword" class="btn btn-primary">Update Password</button>

                        </form>

                        </div>

                    </div>



                </div>





            </div>

        </div>

    </div>

</section>