.avatar-input {
    height: 117px;
    cursor: pointer;
    border-radius: 5px;
}
.delete-icon {
    color: #ff0000;
    position: absolute;
    cursor: pointer;
    z-index: 99;
    font-size: 13px;
    top: 7px;
    right: 7px;
    padding: 2px 3px;
    background-color: #f1f1f1;
    border-radius: 50%;
}
.avatar-input {
    position: relative;
}