<footer>
  <!-- <div class="container-fluid">
    <div class="col-md-12" style="display: flex">
      <div class="col-md-4">
        <div class="copyRite"><span>Copyright	&copy; 2021. BloodDrag. All Rigts Reserved.</span>
          <a class="thought-media-link" href="https://www.thoughtmedia.com/" target="_blank" style="padding-left: 10px;">
            <img src="assets/thought-media-footer.png" width="15px">
          </a>
        </div>
        
      </div>
      <div class="col-md-8 right-content text-right">
        <ul class="top-menu-items">
          <li><a href="#null">Shipping and Refunds</a></li>
          <li><a href="#null">Privacy Policy</a></li>
          <li><a href="#null">Terms of Use</a></li>
          <li><a href="#null">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div> -->
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="copyRite"><span>Copyright	© 2021. BloodDrag. All Rigts Reserved.</span>
            <a href="https://www.thoughtmedia.com/" target="_blank" class="thought-media-link">
              <img src="assets/thought-media-footer.png" width="15px">
            </a>
          </div>
        </div>
        <div class="col-md-8 right-content text-right">
          <ul class="top-menu-items">
            <li ><a href="#null">Shipping and Refunds</a></li>
            <li ><a href="#null">Privacy Policy</a></li>
            <li ><a href="#null">Terms of Use</a></li>
            <li ><a href="#null">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
