/*
    Pranaya
*/
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.custom-blue {
  background-color: blue;
  color: #FFF;
}
.custom-red {
  background-color: red;
  color: #FFF;
}