<section class="admin-content">
    <div class="bg-dark">

        <div class="container  m-b-30">

            <div class="row">

                <div class="col-12 text-white p-t-40 p-b-90">



                    <h4 class="">View Tickets</h4>

                    <p class="opacity-75 "></p>





                </div>

            </div>

        </div>

    </div>
    <div class="container pull-up">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="table-responsive p-t-10">
                            <table id="member" class="table   " style="width:100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>SL NO#</th>
                                    <th>EVENT NAME</th>
                                    <th>TICKET TYPE</th>
                                    <th>PRICE</th>
                                    <th>PURCHASED BY</th>
                                    <th>STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let order of allOrderList">
                                    <td>
                                            <span class="avatar avatar-l">
                                                <img [src]="badgeImageBaseUrl + order['_id']+'.png'" alt="..." class="avatar-img">
                                            </span>
                                    </td>
                                    <td>{{order.orderId ? order.orderId : ''}}</td>
                                    <td> {{order.eventData ? order.eventData['name'] : ''}} </td>
                                    <td>{{order.ticketTypeId}}</td>
                                    <td>{{order.totalPrice | currency : 'USD'}}</td>
                                    <td>{{order['userData'] ? (order['userData']['firstName'] + ' ' +order['userData']['lastName']) : '' }}</td>
                                    <td>{{order['status']}}</td>
                                    <td>
                                        <a style="font-size:14px;padding: 5px;">
                                            View/Edit</a>
                                            <a style="font-size:14px;padding: 5px;">
                                                Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>